security:
  enabled: true
  jwt_enabled: true
  api_token: "__CRAWL4AI_TOKEN__"
  https_redirect: false
  trusted_hosts:
    - "127.0.0.1"
    - "localhost"
  headers:
    x_content_type_options: "nosniff"
    x_frame_options: "DENY"
    content_security_policy: "default-src 'self'"
    strict_transport_security: "max-age=63072000; includeSubDomains"
